.col_sidebar {
    width: 20%;
    float: left;
    background-color: #f7f7f7;
}

.col-middle {
    width: 60%;
    float: left;
}

.col_sidebar * {
    width: 97% !important;
    margin: 6px;
}

main#site-content {
    margin: 0px 34px;
}

.widget-content .div-bg {
    background-image: url('http://fit.tdc.edu.vn/addons/default/themes/bootstrapThree/img/bg_cr_grey.png');
    height: 15px;
    width: 112% !important;
    margin-left: -31px;
}

.widget-content li a {
    color: #428bca;
    font-size: medium;
}

.widget-content li::marker {
    color: #f5ce31;
}

#ul-md li {
    border-bottom: 1px #d9d9d9 solid;
    padding-bottom: 16px;
}

.footer-widgets .widget {
    border-top: none;
    margin-top: 2rem !important;
    padding-top: 0;
}

.footer-widgets {
    margin-left: 1rem !important;
}