.pagination-single-inner {
    display: contents !important;
}

.pagination-single a+a {
    margin: 0 0 0 0rem;
}

#site-content .pagination-single {
    margin-left: 350px;
}

.pagination-single span {
    color: #747171;
}