.pagination-single-inner {
    display: contents !important;
}

.pagination-single a+a {
    margin: 0 0 0 0rem;
}

#site-content .pagination-single {
    font-size: 1.8rem;
    margin-top: 5rem;
    margin-left: 350px;
}

#site-content .pagination-single span{
    color: #323c46;
}

