/* Module 2 css */

.list_new_view_post {
    margin: auto;
    width: 50%;
    font-size: 0.9em;
    padding: 15px 15px 1px 15px;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 20%);
}

.list_new_view_post .time_post>span.date_post {
    font-family: 'Prata', serif;
    font-size: 7em;
    line-height: 1em;
    margin-left: 28px;
}

.list_new_view_post .time_post>span.month_post {
    text-transform: uppercase;
    font-size: 2em;
    margin-left: 15px;
}

.list_new_view_post a {
    color: #428bca;
    text-decoration: none;
}

.list_new_view_post .desc_post {
    border-left: 1px solid #666;
}

.list_new_view_post .desc_post h4 {
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 0;
    margin-top: 0;
}

.list_new_view_post .row .detail-new {
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(0 0 calc(0 / 20%));
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgb(0 0 calc(0 / 20%));
    padding: 15px;
}

.list_new_post {
    margin-top: 15px;
}

.detail-new_post {
    font-size: 0.9em;
    padding: 15px;
}

.time_post>.date_post {
    font-family: 'Prata', serif;
    font-size: 3.1em;
    line-height: 1em;
    margin-left: 15px;
}

.month_post {
    text-transform: uppercase;
    font-size: 0.9em;
    margin-left: 15px;
}

.desc_post {
    border-left: 1px solid #666;
}
.desc_post>h4>a:hover{
    color: #428bca;
    opacity: 0.5;
}