.list_new_view {
    font-size: 0.9em;
    /*padding: 15px;*/
    margin-top: 15px;
}

.list_new_view .vu-class-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list_new_view .topnewstime {
    text-align: center;
}
.list_new_view .topnewstime > span.topnewsdate {
    font-family: 'Prata', serif;
    font-size: 3.1em;
    line-height: 1em;
    margin-left: 15px;
}

.list_new_view .topnewstime > span.topnewsmonth {
    text-transform: uppercase;
    font-size: 0.9em;
    margin-left: 15px;
}

.list_new_view a {
    color: #428bca;
    text-decoration: none;
}

.list_new_view .shortdesc {
    border-left: 3px solid #bdbbbb;
}

.list_new_view .shortdesc p {
    display: inline;
}

.list_new_view .shortdesc h4 {
    padding-top: 0;
    margin-top: 0;
}

.list_new_view .row .top_news_block_desc {
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    padding: 15px;
}

