.module5-search-results {
    font-size: 0.9em;
    /*padding: 15px;*/
    margin-top: 15px;
}

.module5-search-results .module5-card {
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
}

.module5-search-results .module5-card .row {
    margin: 0;
}

.module5-search-results .module5-card-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

.module5-search-results .left-section {
    text-align: center;
    padding: 0;
}

.module5-search-results .left-section > span.day {
    font-family: 'Prata', serif;
    font-size: 3.1em;
    line-height: 1em;
    margin-left: 15px;
}

.module5-search-results .left-section > span.month {
    text-transform: uppercase;
    font-size: 0.9em;
    margin-left: 15px;
}

.module5-search-results .left-section .section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    height: 100%;
}

.module5-search-results .left-section .section-wrapper .img-wrapper {
    width: 100%;
}

.module5-search-results .left-section .section-wrapper .creation-date-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    min-width: 150px;
}

.module5-search-results .left-section .section-wrapper .creation-date-wrapper .day {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 10px;
}

.module5-search-results .left-section .section-wrapper .creation-date-wrapper .month {
    text-transform: uppercase;
    font-weight: 300;
}

.module5-search-results a:not(.post-title) {
    color: #428bca;
    text-decoration: none;
}

.module5-search-results .post-title-wrapper {
    margin-bottom: 10px;
}

.module5-search-results .post-title-wrapper .post-title {
    color: #428bca;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.module5-search-results .right-section {
    padding: 20px 0;
}

.module5-search-results .right-section .content-wrapper {
    border-left: 2px solid #555;
    height: 100%;
    padding: 0 30px 0 15px;
}

.module5-search-results .right-section .content-wrapper p {
    display: inline;
}

.module5-search-results .right-section .content-wrapper h4 {
    padding-top: 0;
    margin-top: 0;
}

@media screen and (max-width: 1200px) {
    .module5-search-results .left-section .section-wrapper .creation-date-wrapper {
        min-width: 100px;
    }

    .module5-search-results .left-section .section-wrapper .creation-date-wrapper .day {
        font-size: 30px;
        line-height: 30px;
    }

    .module5-search-results .left-section .section-wrapper .creation-date-wrapper .month 
    {
        font-size: 15px;
    }

    .module5-search-results .right-section .content-wrapper {
        padding: 0 15px;
    }
}

@media screen and (max-width: 992px) {
    .module5-search-results .left-section {
        flex: 100%;
        max-width: 100%;
    }

    .module5-search-results .right-section {
        flex: 100%;
        max-width: 100%;
    }

    .module5-search-results .left-section .section-wrapper .creation-date-wrapper {
        min-width: 150px;
    }

    .module5-search-results .right-section .content-wrapper {
        border-left: none;
    }
}

@media screen and (max-width: 576px) {
    .module5-search-results .left-section .section-wrapper .creation-date-wrapper {
        min-width: 100px;
    }
}