.danh-sach{
    background-color: white;
}
.danh-sach .line-ver{
    border-left: 2px solid black;
    float: left;
    margin: 20px 0;
}
.danh-sach .post-meta .day-month .day{
    color: black;
    font-family: 'Prata', serif;
    font-size: 3.1em;
    line-height: 1em;
    margin-left: 15px;
}
.danh-sach .post-meta li.post-date{
    text-align: center;

    

}
.danh-sach .entry-header h2 a{
    color: #75aad8;
    font-size: 2rem;
    letter-spacing: 0px;
    text-transform: uppercase;
} 
.danh-sach .entry-header h2{
   line-height: 0.3 !important;
    
}
.danh-sach .entry-header-inner{
    margin: 0;
}
.danh-sach .entry-content p{
    margin: 0 !important;
}
.has-text-align-center.align-none{
    text-align: left !important;
}
.post-inner{
    padding-top: 1.5rem !important;
    padding-bottom: 15px;
}