h1.header-edit-detail{

}
h1.entry-title{
    font-size: 2.5em !important;
}

.row-edit-detail{
    display: -webkit-box;
}
.meta-text{
    padding-left: 20px;
    font-size: 35px;
    line-height: 1.42857143;
    float: left;
    font-family: 'Prata', serif;

}
.post-meta-wrapper {
    padding: 10px 17px;
    display: flex;
    color: #333;
    border-radius:50%;
    background: #f5ce31;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 20%);
}
.meta-text-day{
    font-family: 'Prata', serif;
    border-bottom: 1px solid #000;
}
.meta-text-year{
    font-family: 'Prata', serif;
    font-size: 33px;
    color: #333;
    line-height: 3.0em;
    padding-left: 2px;
}
.col-md-10{
    padding-top: 55px;
}
.singular .entry-header {
    padding:0 !important;
}
.post-18{
    background: url("../twentytwenty/img/bg_pattern.png")repeat;
}
.singular .entry-header {
    background: url("../twentytwenty/img/bg_pattern.png")repeat !important;

}
.row{
    content: " ";
    display: table;
}
.overviewline{
    border-top: 2px solid #cecece;
    margin: 25px 300px 15px;
    position: relative;
    border-color: #cecece
}
.overviewline::before{
     content: "";
     position: absolute;
     top: -1,5px;
     left: 120px;
     border-width: 26px 21px 0;
     border-style: solid;
     border-color: #cecece transparent;
     display: block;
     width: 0;
}
.overviewline::after{
    content: "";
    position: absolute;
    top: -2px;
    left: 121px;
    border-width: 25px 20px 0;
    border-style: solid;
    border-color: #f5f5f5 transparent;
    display: block;
    width: 0;
}