/* Module 1 css */
#site-header .header-toggles .dropdown {
    display: flex;
    flex-direction: column;
}

#site-header .header-toggles .toggle-wrapper .dropdown-account-icon {
    width: 50px;
    height: 50px;
    font-size: 170%;
    top: 0;
    padding-left: 7px;
}

#site-header .header-toggles .toggle-wrapper .toggle .dropdown-toggle {
    margin-top: 5px;
}

#site-header .header-toggles .toggle-wrapper.search-toggle-wrapper-dropdown:hover .dropdown-menu {
    position: absolute;
    top: 60px;
    left: -40px;
    display: block;
}

#site-header .header-toggles .toggle-wrapper .dropdown-menu {
    font-size: 20px;
}

#site-header .header-toggles .toggle-wrapper .dropdown-menu a {
    color: black;
}
/* Form search */
.form-search-module-1{
    display: flex !important;
}
.search-form .module-4-formSearch{
    color: red !important;
    width: 45px !important;
}