.inner-edit-time {
    display: grid;
    color: black;
}

.inner-edit-time2 {
    display: grid;
    color: black;
}

.next-inner {
    float: left;
    display: inherit;
    margin-left: 305px;
    padding-top: 10px;
    font-family: 'Prata', serif;

}

.pre-inner {
    float: left;
    display: inherit;
    margin-left: 305px;
    font-family: 'Prata', serif;

}

.next-post-year {
    margin-right: 20px;
    margin-top: 28px;
    line-height: 20px;
    color: black;

}

.prev-post-year {
    margin-right: 20px;
    margin-top: 28px;
    line-height: 20px;
    color: black;
}

.title-inner-next {
    margin-left: 50px;
    height: 80px;
}
.title-inner-pre {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-left: 50px;
    height: 80px;
}
.pre-day{
    border-bottom: 2px solid #000e14;
}
.next-day{
    border-bottom: 2px solid #000e14;
}
.title-inner{
    padding-left: 80px;
    text-decoration: none;
    font-family: 'Prata', serif;
}
