
.row > .col-md-6 > img {
	max-width: 100%;
}
.headlines {
	background: #56bdbf;
	overflow: hidden;
	padding: 20px 30px;
}
.headlines ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 29%;
	font-size: 2rem;
}
.headlines ul > li {
	overflow: hidden;
	display: table;
	margin-bottom: 5px;
	width: 100%;
}
.headlines ul > li > .headlinestitle {
	display: table-cell; vertical-align: middle; width: 85%;
}

.headlinesdate .headlinesdm, .news > .headlines .headlinesdate, .headlinesdate {
	float: left;
	font-family: 'Prata', serif;
}
.headlines .headlinesdate { font-size: 0.8em; width: 15%; min-width: 55px; display: table-cell; vertical-align: middle;}
.headlinesdate .headlinesday, .news > .headlines .headlinesmonth {line-height: 1.7em;}
.headlinesdate .headlinesday {
	border-bottom: 1px solid #fff;
}
.headlinesdate .headlinesyear {
	line-height: 3.5em;
	float: left;
	margin-left: 3px;
}