/* Search  */
.search_result .search-form {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  padding-right: 25px !important;
  border-radius: 4px !important;
  margin-left: -150px;
  width: 920px;
}
.section-inner.max-percentage {
  width: 68% !important;
}
.search_result {
  padding-top: 40px;
  background: #f5efe0;
  align-items: center;
  flex-direction: row;
  margin-bottom: -45px;
}

.search_result input#search-form-2 {
  border: none;
  margin: 13px 0px 14px 3px;
  outline: none;
  box-shadow: none;
}

.search_result input.search-submit.HIHI {
  background-color: hsl(134deg 61% 41%);
  margin: 21px 3px !important;
  border-radius: 5px !important;
  font-size: 15px;
}

.search_result i.fa.fa-search.fa-4x {
  font-size: 4em;
  display: flex;
  align-items: center;
  margin: 0px 20px;
}
.search_result .search-form label {
  align-items: center !important;
  display: flex;
  font-size: inherit;
  margin: 0;
  width: 100%;
}
.search_result .search-form label i {
  padding-left: 20px;
  padding-right: 10px;
}
.search_result .section-inner.thin {
  max-width: 58rem;
  top: 50%;
  transform: translateY(-50%);
}
