.text_footer {
    padding-left: 148px;
    color: #1291f8;
    background: #004689;
    padding-bottom: 10px;
    font-size: 14px;
    padding-top: 10px;
    
}
.text_footer .linkmua{
    color: #4d9f7a;
}
.text_footer .connect{
    padding-left: 780px;
}
div#text-15 {
    margin-bottom: 0 !important;
}
.text_footer .icon{
    margin-left: 740px;
    font-size: 20px;
}
.text_footer .icon .icon-facebook{
    background: #3a589d;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: default;
    position: relative;
    padding-left: 5px;
    padding-top: 5px;
    color: white;
}
.text_footer .icon .icon-instagram{
    background: #3b6994;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: default;
    position: relative;
    padding-left: 6px;
    padding-top: 3px;
    color: white;
}
.text_footer .icon .icon-pinterest{
    background: #cb2320;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: default;
    position: relative;
    padding-left: 5px;
    padding-top: 3px;
    color: white;
}
.text_footer .icon .icon-youtube{
    background:#c33223;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: default;
    position: relative;
    padding-left: 5px;
    padding-top: 3px;
    color: white;
}
.absolute-footer.dark.medium-text-center.small-text-center {
    background: #004383;
    color: #1291f8;
}
.footer-widgets.footer.footer-2.dark{
    background: #004383;
    color: #1291f8;
}
.product-section{   
    background: #f0f0f0;
}
.product-main{
    background: white;
}
/* .related{
    padding-left: 10px;
} */
.product-TuongTu{
    background: #f0f0f0;
    padding-bottom: 50px;
    padding-left: 8px;
}
.box-prducts {
    flex: 1;
    background: white;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ddd;
    min-height: 95px;
    padding-right: 10px;
    padding-left: 10px;
    height: 140px;
}
.type-product>.col-inner:hover{
    border: 2px solid #1e428a;
}
a.quick-view.quick-view-added {
    display: none;
}
h3.product-section-title.container-width.product-section-title-related.pt-half.pb-half.uppercase {
    padding-left: 80px;
}
bdi {
    color: red;
}
.menu-row1-container,
.menu-row2-container,
.menu-row3-container,
.menu-row4-container{
    color: #1291f8;
}
.is-divider.small{
    background: linear-gradient(to right, green, blue);
    /* width: 100%; */
    max-width: 100% !important;
    height: 1px;
}
ul.menu>li, .widget>ul>li{
    border-top: none !important;
}
aside ul>li{
    position: relative;
}
aside ul>li:before{
  background: linear-gradient(to right, green, blue);
  bottom: 0;
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 10px;
}

/* } */
/* .dark a,
.dark .widget a{
    color: none !important;
} */
/* .dark, .dark p, .dark td {
    color: #1291f8;
} */
