.flex-row .flex-col .nav-top-link{
    margin-left: 40px;
    color: white;
}
#mega-menu-title i {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}
.col-md-2 {
    background: #1293cb;
    width: 232px;
    height: 47px;
    padding-top: 8px;
    font-size: 14px;
}
.col-md-9{
    padding-top: 14px;
    font-size: 14px;
}
.col-md-1{
    border: 1px solid #fff;
    padding-top: 14px;
    margin-left: 55px;
    background: #fff355;
    font-size: 14px;
}
#khuyenmai{
    margin-right: 12px;
    color: black;
}
.row .col-md-9 a:hover{
    color: #e37a7d;
}

/*Css PRODUCT SIDEBAR*/
#custom_html-2 .widget-title{
    color: #ed1c24;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 20px;
    display: inline-block;
    padding-top: 20px;
}
#custom_html-2{
    border: 1px solid #ebebeb;
    width: 249px;
    border-radius: 5px;
}
.textwidget{
    margin-top: -15px;
}
.product-container .product-main{
    background: #ffffff;
}
.text-diachi{
    font-size: 14px;
    color: black;
    padding-left: 20px;
}
.product-sidebar #custom_html-2{
    border-radius: 5px;
}
#custom_html-3 .widget-title{
    color: #ed1c24;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
}
#custom_html-3{
    border: 1px solid #ebebeb;
    width: 249px;
    border-radius: 5px;
}
.text-muasam{
    font-size: 14px;
    color: black;
    padding-left: 20px;
    padding-right: 10px;
}
.text-muasam .fas {
    border-radius: 50%;
    background: #233e92;
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 30px;
    height: 28px;
    background-position: -144px -1px;
    margin-right: 5px;
    position: relative;
    padding-left: 8px;
    padding-top: 6px;
}
.is-divider{
    background-color: #ffffff !important;
}
.dollar{
    padding-left: 11px !important;
}


