/*Css HEADER*/
.flex-row .flex-col .nav-top-link{
    margin-left: 40px;
    color: white;
}
#mega-menu-title i {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}
.col-md-2 {
    background: #1293cb;
    width: 232px;
    height: 47px;
    padding-top: 8px;
    font-size: 14px;
}
.col-md-9{
    padding-top: 14px;
    font-size: 14px;
}
.col-md-1{
    border: 1px solid #fff;
    padding-top: 14px;
    margin-left: 55px;
    background: #fff355;
    font-size: 14px;
}
#khuyenmai{
    margin-right: 12px;
    color: black;
}
.row .col-md-9 a:hover{
    color: #e37a7d;
}
#menu-item-255 .nav-top-link{
    color: gray;
}
#menu-item-232 .nav-top-link{
    color: gray;
}
.top-bar-nav>li:last-child{
    display: none;
}
.search_categories{
    display: none;
}
.flex-center ul li{
    font-size: 14px;
}
.flex-center {
    margin-right: 85px !important;
}
.fa-phone{
    border-radius: 50%;
    background: #233e92;
    color: #ffffff;
    font-size: 22px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 42px;
    height: 40px;
    background-position: -144px -1px;
    margin-right: 5px;
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 14px;
}
.form-flat input:not([type=submit]), .form-flat textarea, .form-flat select{
    border-radius: 5px !important;
    height: 40px;
}
.custom .html_topbar_left :last-child{
    display: none;
}
.cart-item >span:last-child{
    display: none;
}
.header-contact{
    font-size: 14px;
}
.text-box{
    margin-left: 50px;
    margin-bottom: 50px;

}
span.text-banhang {
    font-weight: 600;
}
span.text-kythuat{
    font-weight: 600;
}
span.text-giohang {
    font-weight: 600;
}
.fa-bars{
    margin-right: 10px;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 4px;
}
.list-icon-text {
    position: relative;
    top: 25px;
}
.list-icon-text .icon-box {
    position: absolute;
    bottom: 4px;
    margin-top: 20px;
}


/*Css PRODUCT SIDEBAR*/
#custom_html-2 .widget-title{
    color: #ed1c24;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 20px;
    display: inline-block;
    padding-top: 20px;
}
#custom_html-2{
    border: 1px solid #ebebeb;
    width: 249px;
    border-radius: 5px;
}
.textwidget{
    margin-top: -15px;
}
.product-container .product-main{
    background: #ffffff;
}
.text-diachi{
    font-size: 14px;
    color: black;
    padding-left: 20px;
}
.product-sidebar #custom_html-2{
    border-radius: 5px;
}
#custom_html-3 .widget-title{
    color: #ed1c24;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
}
#custom_html-3{
    border: 1px solid #ebebeb;
    width: 249px;
    border-radius: 5px;
}
.text-muasam{
    font-size: 14px;
    color: black;
    padding-left: 20px;
    padding-right: 10px;
}
.text-muasam .fas {
    border-radius: 50%;
    background: #233e92;
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 30px;
    height: 28px;
    background-position: -144px -1px;
    margin-right: 5px;
    position: relative;
    padding-left: 8px;
    padding-top: 6px;
}
.widget_text .is-divider.small{
    border-bottom: none !important;
    background: white;
}
.dollar{
    padding-left: 11px !important;
}


