/* Custom module 2 here */
.contact-icon{
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%);
    border-radius: 4px;
    padding:10px 10px 20px 10px !important;
    overflow: hidden;
    background-color: #fff;
    font-family: 'Muli',sans-serif;
}
.contact-icon-text>h3{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    font-family: 'Muli',sans-serif;
    color: #333333;
}
.contact-icon-text>p{
    font-size:14px;
    font-family: 'Muli',sans-serif;
    color: #333333;
}
.col-h3{
    padding: 0 0px 30px !important;
}
.slide-image{
    padding: 0 !important;
}
.titleH2{
    font-size: 18px;
    float: left;
    width: unset;
    background: #1293cb;
    padding: 5px 22px;
    border-radius: 5px;
    font-weight: 400;
}
.titleH2>h2{
    margin: 0 !important;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Muli',sans-serif;
}
.image-post{
    max-width: 1105px !important;
}
/*.product-home>.col{*/
/*    padding: 0px !important;*/
/*}*/
.product-home>.col>.col-inner{
    background-color: white;
    padding-right: 5px;
}
.product-home>.col:hover{
    border: 2px solid #1e428a;
    background-color: white;
}
.box-product-home{
    padding-right: 10px;
    padding-left: 10px;
}
.box-title-home{
    height: 61px !important;
    border-top: 1px solid #ddd;
}
span.amount{
    font-size: 16px;
    line-height: 20px;
    color: #d0021b;
    font-weight: bold;
}
.titleh3>H3>span{
    border-bottom: 1px solid #0070da;
    min-width: 200px;
    text-align: center;
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Muli',sans-serif;
    color: #333333;
}
.titleh3>H3>span:after{
    content: '';
    max-width: 100px;
    height: 3px;
    background-color: #72ae2e;
    display: block;
    position: relative;
    left: 0;
    margin: 0 auto !important;
    top: 2px;
}
.line-blog{
     height: 1px !important;
    max-width: 100% !important;
    background-color: #0070da !important;
}
.line-blog::after{
    content: '';
    max-width: 100px;
    height: 1px;
    background-color: #72ae2e;
    display: block;
    position: relative;
    left: 0;
}
.box-title-blog>H5{
    font-family: 'Muli',sans-serif;
    font-weight: 700;
    color: #333333;
}
.box-title-blog>p{
    font-family: 'Muli',sans-serif;
    color:#333333;
}
