/* Css for Module 4 project */

.linkfoot {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    padding: 6px 15px;
    border-radius: 3px;
}

.linkfoot.best {
    background: #07db07;
}

.linkfoot.new {
    background: #f51f1f;
}

.linkfoot.all {
    background: #0000ff;
}

.content-foot img {
    width: 100%;
    height: 200px;
}
.content-foot p{
    font-size: 13px;
    font-weight: 400;
    color: #686868;
    padding-top: 10px;
    width: 100%;
}
.footbest, .footnew, .footall{
    box-shadow: 5px 4px 6px -5px;
}