<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 
.deli-primary-navigation{
  background-color:white;
    
}
.main-navigation ul li{
  padding:10px;
  
}
.cart-contents{
  font-size:20px;
}
.deli-primary-navigation a:hover{
  background-color:#99CCFF;
  border-radius:20px;
}
.woocommerce-mini-cart__empty-message{
background-color:white; color:black;}
.storefront-sorting ul li img{
  width:200px;
  height:100px;
}

</style>
<!-- end Simple Custom CSS and JS -->
