.form-control-borderless {
  border: none !important;
  outline: none;
}

.card--custom {
  background: none;
}

.title-link--custom {
  text-decoration: none;
  color: #428bca;
  opacity: 1;
  transition: all 0.5s;
}

.title-link--custom:hover {
  opacity: 0.3;
}
.search-result-found--custom {
  margin: 0 auto;
}
.search-form--custom {
  background: transparent;
}
.cart-post-date {
  margin: 50% auto;
}
.search-card--custom {
  border-left: 1px solid #000;
  padding-left: 30px;
}
