/* display SALE! */
.onsale {
    background-color: #FFFFFF;
    border-color: #FF0000;
    color: #FF0000;
		font-size:15px;
		box-shadow: 3px #000;
}
/* btn add to cart, buy now pro */
.woocommerce div.product .product_title {
    color: #222222;
    font-weight: bold;
 } 
.woocommerce div.product .button
 {
             box-shadow: 0px 1px 0px 0px #fff6af;
             background:linear-gradient(to right, #3300FF 9%, #ffab23 80%);
             background-color:#ffec64;
             border-radius:6px;
             border:1px solid #ffaa22;
             color:#333333;
             text-decoration:none;
             text-shadow:0px 1px 0px #ffee66;
 } 
/* custom tabs single product show horizontal */
.product .woocommerce-tabs ul.tabs {
	width: 100%;
	float: none;
	margin-right: 5.8823529412%;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	list-style: none;
	padding: 0;
	/*padding: 0 0 0 1em;*/
	margin: 0 0 1.618em;
	overflow: hidden;
	position: relative;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	position: absolute;
	content: ' ';
	width: 100%;
	bottom: 0;
	left: 0;
	/*border-bottom: 1px solid #d3ced2;*/
	z-index: 1;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: 1px solid #d3ced2;
	border-radius: 4px 4px 0 0;
	/*background-color: #ebe9eb;*/
	display: inline-block;
	position: relative;
	z-index: 0;
	/*margin: 0 -5px;*/
	padding: 0 1em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	z-index: 2;
	border-bottom-color: #777;
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	border: 1px solid #555;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	border: 1px solid #d3ced2;
	position: absolute;
	bottom: -1px;
	width: 0;
	height: 0;
	content: ' ';
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	left: -6px;
	border-bottom-right-radius: 4px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 #ebe9eb;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before {
	box-shadow: 2px 2px 0 #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	right: -6px;
	border-bottom-left-radius: 4px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 #ebe9eb;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
	box-shadow: -2px 2px 0 #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	display: inline-block;
	padding: .5em 0;
	/*font-weight: 700;*/
	color: #515151;
	text-decoration: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	color: inherit;
	text-shadow: inherit;
	font-weight:bold;
}
.woocommerce .wc-tabs li a:focus, .ui-state-focus:focus { outline: none !important }

.ui-tabs-anchor:active, .ui-tabs-anchor:focus{
     outline:none;
}
.product .woocommerce-tabs .panel {
    width: 100%;
}

/* css review btn  */
.woocommerce #reviews #comments h2 {
font-family: 'Josefin Sans';
text-align: center;
	background: #000;
}
.woocommerce #respond input#submit {
	float:right;
}
.woocommerce #respond input#submit:hover {
border-color: #6a6d71 !important;
	border-radius: 6px;
	background: linear-gradient(45deg, #ccc, 	#DA70D6);
}
/* custom quality item  */
.quantity .qty {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
		 color: #000 !important;
    font-weight: bold;
		border-radius:5px;
}
