#banner {
    width: 100%;
    display: none;
    margin-top: -90px;
}

.trang-chu #banner {
    display: block !important;
}

#banner img {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    max-height: 100vh;
    position: relative;
}
#banner .title-banner{
    position: absolute;
    top: 40%;
    left: 370px;
    display: block;
    font-size: 64px;
    color: rgb(228, 150, 5);
    font-weight: bold;
    text-shadow:
    0 0 7px rgb(250, 219, 162),
    0 0 10px rgb(250, 219, 162),
    0 0 21px rgb(250, 219, 162),
    0 0 42px rgb(204, 133, 2),
    0 0 82px rgb(204, 133, 2),
    0 0 92px rgb(204, 133, 2),
    0 0 102px rgb(204, 133, 2),
    0 0 151px rgb(204, 133, 2);
    background: black;
    border-radius: 15px;
    padding: 0 15px;
}
#banner .des-banner{
    position: absolute;
    top: 65%;
    left: 670px;
    display: block;
    font-size: 48px;
    color: #fff;
    background: orange;
    border-radius: 5px;
    padding: 0 20px;
    box-shadow: 2px 0 15px black;
    transition: .5s;
}
#banner .des-banner:hover{
    color: orange;
    background: #fff;
}




.testimony-section {
    position: relative; }
    .testimony-section .owl-carousel {
      margin: 0; }
    .testimony-section .owl-carousel .owl-stage-outer {
      padding: 1em 0 2em 0;
      position: relative; }
    .testimony-section .owl-nav {
      position: absolute;
      top: 100%;
      width: 100%; }
      .testimony-section .owl-nav .owl-prev,
      .testimony-section .owl-nav .owl-next {
        position: absolute;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: -10px;
        outline: none !important;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity: 0; }
        .testimony-section .owl-nav .owl-prev span:before,
        .testimony-section .owl-nav .owl-next span:before {
          font-size: 30px;
          color: rgba(0, 0, 0, 0.5);
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          transition: all 0.3s ease; }
        .testimony-section .owl-nav .owl-prev:hover span:before, .testimony-section .owl-nav .owl-prev:focus span:before,
        .testimony-section .owl-nav .owl-next:hover span:before,
        .testimony-section .owl-nav .owl-next:focus span:before {
          color: #fff; }
      .testimony-section .owl-nav .owl-prev {
        left: 50%;
        margin-left: -80px; }
      .testimony-section .owl-nav .owl-next {
        right: 50%;
        margin-right: -80px; }
    .testimony-section:hover .owl-nav .owl-prev,
    .testimony-section:hover .owl-nav .owl-next {
      opacity: 1; }
    .testimony-section:hover .owl-nav .owl-prev {
      left: 50%;
      margin-left: -80px; }
    .testimony-section:hover .owl-nav .owl-next {
      right: 50%;
      margin-right: -80px; }
    .testimony-section .owl-dots {
      text-align: center; }
      .testimony-section .owl-dots .owl-dot {
        width: 10px;
        height: 10px;
        margin: 5px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.1); }
        .testimony-section .owl-dots .owl-dot.active {
          background: #FBBB4A; }
  
  .testimony-wrap {
    display: block;
    position: relative;
    background: white;
    padding: 0 20px; }
    .testimony-wrap .user-img {
      width: 100px;
      height: 100px;
      position: relative;
      margin: 0 auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .testimony-wrap .name {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 0;
      color: #000000; }
    .testimony-wrap .position {
      font-size: 16px;
      color: #FFC107; }
      .justify-content-center {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }