.module-home-top .home-top-wrapper .home-categoryMenu-wrapper {
    background-color: #fff;
    border-radius: 10px;
    padding: 0;
    margin-right: 30px;
    width: 250px;
}

.categoryMenu {
    user-select: none;
    /* This position helps you to show .sub-category */
    position: relative;
}

.categoryMenu__top-section {
    background-color: gold;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 10px;
    display: block;
    width: 100%;
    margin: 0;
    cursor: pointer;
}

.categoryMenu__bottom-section {
    overflow-y: auto;
    /* display: none; */
    height: 0;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.categoryMenu__bottom-section::-webkit-scrollbar { 
    width: 3px;
}

.categoryMenu__bottom-section::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

.categoryMenu__bottom-section::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.categoryMenu__bottom-section .categoryMenu__list {
    list-style-type: none;
    margin: 0;
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item {
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item .category-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:last-child {
    border-bottom: 0;
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:hover {
    text-shadow: 0px 0px 0px #888;
}

.categoryMenu #input_isMenuOpened {
    display: none;
}

.categoryMenu #input_isMenuOpened + .categoryMenu__top-section {
    margin: 0;
}

.categoryMenu #input_isMenuOpened:checked ~ .categoryMenu__bottom-section {
    /* display: block; */
    height: auto;
    max-height: calc(430px - 49px);
}

.categoryMenu #input_isMenuOpened:checked ~ .categoryMenu__top-section {
    border-radius: 10px 10px 0 0;
}


/* Title section: */
.categoryMenu-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.categoryMenu-title .menu-icon {
    width: 15px;
    height: 2px;
    /* background: #eee; */
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.categoryMenu-title .menu-icon .bar-1,
.categoryMenu-title .menu-icon .bar-2,
.categoryMenu-title .menu-icon .bar-3,
.categoryMenu-title .menu-icon .bar-4 {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
}

.categoryMenu-title .menu-icon .bar-1 {
    top: -6px;
}

.categoryMenu-title .menu-icon .bar-2 {
    top: -2px;
}

.categoryMenu-title .menu-icon .bar-3 {
    top: 2px;
}

.categoryMenu-title .menu-icon .bar-4 {
    top: 6px;
}


/* List of items: */
.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item .category .category-icon {
    margin-right: 10px;
    width: 15px;
    display: inline-block;
    text-align: center;
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item .arrow_r-icon {
    color: #cecece;
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item .sub-category::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -5px;
    background: none;
    z-index: -1;
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item .sub-category {
    position: absolute;
    top: calc(49px + 0 * 46px);
    left: 100%;
    background: #fff;
    width: 100%;
    height: auto;
    min-height: 46px;
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item .sub-category .sub-item {
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item .sub-category .sub-item .category-icon {
    margin-right: 10px;
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item .sub-category .sub-item:last-child {
    border: none;
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(1) .sub-category {
    top: calc(49px + 0 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(2) .sub-category {
    top: calc(49px + 1 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(3) .sub-category {
    top: calc(49px + 2 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(4) .sub-category {
    top: calc(49px + 3 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(5) .sub-category {
    top: calc(49px + 4 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(6) .sub-category {
    top: calc(49px + 5 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(7) .sub-category {
    top: calc(49px + 6 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(8) .sub-category {
    top: calc(49px + 7 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(9) .sub-category {
    top: calc(49px + 8 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(10) .sub-category {
    top: calc(49px + 9 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(11) .sub-category {
    top: calc(49px + 10 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(12) .sub-category {
    top: calc(49px + 11 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(13) .sub-category {
    top: calc(49px + 12 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(14) .sub-category {
    top: calc(49px + 13 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(15) .sub-category {
    top: calc(49px + 14 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(16) .sub-category {
    top: calc(49px + 15 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(17) .sub-category {
    top: calc(49px + 16 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(18) .sub-category {
    top: calc(49px + 17 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(19) .sub-category {
    top: calc(49px + 18 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:nth-child(20) .sub-category {
    top: calc(49px + 19 * 46px);
}

.categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:hover .sub-category {
    display: block
}


/* Responsive: */
@media screen and (max-width: 992px) {
    /* Layout: */
    .categoryMenu #input_isMenuOpened:checked ~ .categoryMenu__bottom-section {
        max-height: 300px;
    }

    .module-home-top .home-top-wrapper .home-categoryMenu-wrapper {
        width: 100%;
        margin-bottom: 30px;
    }

    .categoryMenu__top-section {
        margin-bottom: 30px;
    }

    /* Sub category menu: */
    .categoryMenu__bottom-section .categoryMenu__list .categoryMenu__list__item:hover .sub-category {
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: unset;
        background-color: #f9f9f9;
        z-index: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 448px) {
    .module-home-top .home-top-wrapper .home-categoryMenu-wrapper {
        min-width: 100%;
    }
}