/* .wc-block-grid__product-onsale, .onsale, .woocommerce-pagination .page-numbers li .page-numbers:not(.current) {
    color: red;
    background: yellow;
} */
button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .widget-area .widget a.button.alt {
    color: #fff !important;
    background: #ee4d2d !important;
}
.danh .module5 .site-main{
    margin-bottom: 2.617924em;
    background: white;
}
.danh .module5 .onsale::before{
    color: red !important;
    background: yellow !important;
}
.danh .module5 .flex-control-thumbs{
    position: relative;
    left: 85px;
}
.danh .module5 .quantity .qty {
    width: 4.235801032em;
    text-align: center;
    position: relative;
    left: 0px;
}
.single-product div.product .product_meta a {
    font-weight: 600;
    text-decoration: none !important;
}
div#page {
    background: gainsboro;
}
.danh .module5 .product  {
    position: relative;
    overflow: hidden;
    position: relative;
    top: 15px;
}
.product_meta .span.posted_in {
    font-weight: bold;
}