.module3 h2{
    line-height: 1.214;
    font-size: 30px;
    font-weight: bold;
    /*border-bottom: 3px solid rgba(0,0,0,.05); */
}
.module3 .widget ul {
    margin-left: 0;
    list-style: none;
    box-sizing:border-box;
    padding-left: 0;
    border-top: 4px solid #288cc4;
    position: relative;
    top: -18px;
}
.module3.widget-area .widget {
    font-size: .875em;
    font-weight: 400;
    background: #fafafa;
}