* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.site-header-custom {
    margin: 0 0 !important;
    position: relative;
    box-shadow: 0 1px 5px 1px #181818;
}

#pre-header {
    background-color: #000;
    padding: 0 60px;
    line-height: 28px;
    font-family: poppins, Sans-serif;
    overflow: hidden;
}

#pre-header ul {
    margin: 0 !important;
}

#pre-header .pre-header-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    color: #686868;
}

#pre-header .pre-header-content a {
    color: #5b5b5b;
}

#pre-header .email-owner {
    text-align: left;
    display: flex;
    align-items: center;
}

#pre-header .slogan {
    text-align: center;
}

#pre-header .slogan .slogan-title {
    text-align: center;
    font-size: 12px;
}

#pre-header .information-site nav ul {
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

#pre-header .information-site nav ul li {
    list-style: none;
    padding: 15px 20px;
    font-size: 12px;
    line-height: 21px;
}

#pre-header .information-site nav ul li a {
    color: #fff;
    position: relative;
    text-decoration: none;
}

#pre-header .information-site nav ul li a::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .5s;
}

#pre-header .information-site nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition: transform .5s;
}

#back-header .container {
    min-height: 80px;
    line-height: 28px;
    padding: 25px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#back-header .container .row {
    width: 100%;
}

#back-header .wishlist {
    display: flex;
    align-items: center;
}

#back-header .wishlist a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#back-header .wishlist a .wishlist-icon {
    margin: 0 10px 0 0;
    color: #181818;
    font-size: 30px;
}

#back-header .wishlist a .wishlist-title {
    color: #000;
    font-size: 14px;
}

#back-header .nav-logo {
    display: flex;
    justify-content: center;
}

#back-header .nav-logo nav .menu-list {
    display: flex;
    justify-content: space-between;
}

#back-header .nav-logo nav ul li {
    list-style: none;
    margin-right: 40px;
}

#back-header .nav-logo nav ul li a {
    color: #000;
    position: relative;
    text-decoration: none;
}

.nav-logo nav ul li:is(.menu-item)>a::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background: #000;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .5s;
}

.nav-logo li:is(.menu-item)>a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition: transform .5s;
}

nav>ul>li>ul.cate-list {
    display: none;
    position: absolute;
}

nav>ul>li>ul.cate-list a {
    color: #fff !important;
    opacity: .6;
}

nav>ul>li:hover>ul.cate-list {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: -3rem;
    background-color: #181818;
    min-width: 12rem;
}

.nav-logo .logo a {
    color: #000;
    font-size: 35px;
    text-decoration: none;
    text-align: center;
}

#back-header .right-navigation {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#back-header .right-navigation a {
    color: #000;
    text-decoration: none;
}

#back-header .right-navigation .search-section a span {
    padding: 0 20px 0 0;
}

#back-header .right-navigation .search-section a span,
#back-header .right-navigation .cart-section a span:nth-child(1) {
    font-size: 30px;
}

#back-header .right-navigation .cart-section a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#back-header .right-navigation .cart-section a span.cart-number {
    font-size: .83333rem;
    height: 17px;
    width: 17px;
    line-height: 17px;
    background: #181818;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    margin-left: 4px;
}

.cart-section .cart-list {
    display: none;
}

.cart-section a:hover .cart-list {
    display: block;
    position: absolute;
}